.fejlec{
    padding: 10px;
    background-color: #A92323;
    color: rgb(212, 125, 18);
    border: 1px solid black;
}
.menu{
    padding: 10px;
    background-color: #C61F1F;
    color: rgb(34, 212, 18);
    border: 1px solid black;
}

article{
    border: 1px solid black;
    padding: 10px;
}
body{
    border: 1px solid black;
    padding: 10px;
}
aside{
    border: 1px solid black;
    padding: 10px;
}
footer{
    border: 1px solid black;
    background-color: rgb(15, 148, 44);
}
.menu a{
    text-decoration: none;/*leszedjük az aláhuzást*/
    color: white;
   
}
.menu a:hover{
    color: rgb(255, 255, 255);
}

.menu li:hover{
    padding: 10px;
    background-color: #DC4949;
}
.menu li{
    padding: 10px; 
}

.menu ul{
    list-style-type: none;
    padding: 0;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr  1fr  1fr 1fr/*gombok egyásmellet milyen arányban*/
}

h1{
    color: #440000;
}
h2{
    color: #440000;
}
