.fejlec{
    padding: 10px;
    background-color: #FBAA60;
    color: rgb(212, 125, 18);
    border: 1px solid black;
}
.menu{
    padding: 10px;
    background-color: #FBAA60;
    color: rgb(34, 212, 18);
    border: 1px solid black;
}

main{
    color: white;
}
article{
    border: 1px solid black;
    padding: 10px;
    background-color: #A82810;
}
body{
    border: 1px solid black;
    padding: 10px;
}
aside{
    border: 1px solid black;
    padding: 10px;
}
footer{
    border: 1px solid black;
    background-color: #FBAA60;
    color: #440000;
    text-align: center;
}
.menu a{
    text-decoration: none;/*leszedjük az aláhuzást*/
    color: #440000;
   
}
.menu a:hover{
    color: rgb(255, 255, 255);
}

.menu li:hover{
    padding: 10px;
    background-color: #F67B50;
}
.menu li{
    padding: 10px; 
}

.menu ul{
    list-style-type: none;
    padding: 0;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr  1fr  1fr 1fr/*gombok egyásmellet milyen arányban*/
}

h1{
    color: #440000;
}
h2{
    color: #440000;
}